<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.softinva.multitimer">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_fertig"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_fertig"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TimerGroupActivity"
            android:parentActivityName=".activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.timergroup.info.TimerGroupInfoActivity"
            android:parentActivityName=".activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.detailedtimer.info.DetailedTimerInfoActivity"
            android:parentActivityName=".activities.TimerGroupActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TimerGroupActivity" />
        </activity>
        <activity
            android:name=".activities.detailedtimer.edit.EditDetailedTimerActivity"
            android:parentActivityName=".activities.detailedtimer.info.DetailedTimerInfoActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.detailedtimer.info.DetailedTimerInfoActivity" />
        </activity>
        <activity
            android:name=".activities.detailedtimer.add.AddDetailedTimerActivity"
            android:parentActivityName=".activities.TimerGroupActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TimerGroupActivity" />
        </activity>
        <activity
            android:name=".activities.timergroup.edit.EditTimerGroupActivity"
            android:parentActivityName=".activities.detailedtimer.info.DetailedTimerInfoActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.detailedtimer.info.DetailedTimerInfoActivity" />
        </activity>
        <activity
            android:name=".activities.timergroup.add.AddTimerGroupActivity"
            android:parentActivityName=".activities.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity android:name=".activities.selectimage.SelectImageActivity"></activity>

        <service
            android:name=".services.countdown.CountDownService"
            android:exported="false" />

        <service
            android:name=".services.cooldown.CoolDownService"
            android:exported="false" />

        <service
            android:name=".services.CopyBitmapService"
            android:exported="false" />

    </application>

</manifest>